<!DOCTYPE html>
<html>
<head>
  <title>Hertz</title>
  <%= stylesheet_link_tag    "hertz/application", media: "all" %>
  <%= javascript_include_tag "hertz/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
